{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Portal dos Alunos</title> {#Aluno#}
</head>

<body>

  {% include "pages/header.html" %} {#Menu do programa#} 

  <h1>Portal dos Alunos</h1>

  <div class="table-fundo">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Série/Turma</th>
          <th>Data de Matrícula</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.id_aluno }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.serie_turma }}</td>
                <td>{{ aluno.data_matricula }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <div class="cadastrar_alunos-btn">
    <button onclick = "cadastrar()">Cadastrar</button>
  </div>

  <script>
    function cadastrar(){
      window.location.replace("{% url 'cadastrar_alunos' %}")
    }
  </script>
</body>

</html>