{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Portal dos Alunos</title> {#Aluno#}
</head>

<body>

  {% include "pages/header.html" %} {#Menu do programa#} 
  <br><br>
  <div class="table-fundo">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th onclick="filtrar_serie()">Série/Turma</th>
          <th onclick="filtar_ano()">Data de Matrícula</th>        
        </tr>
      </thead>
      <tbody>
        {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.id_aluno }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.serie_turma }}</td>
                <td>{{ aluno.data_matricula }}</td>
                </div>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br><br>
  <div class="alunos-buttons">
      <button class="cadastrar-botao" onclick = "cadastrar()">Cadastrar</button>
      <button class="cadastrar-botao" onclick = "editar()">Editar</button>
  </div>
  <script>
    function cadastrar(){
      window.location.replace("{% url 'cadastrar_alunos' %}")
    }
    function editar() {
      window.location.replace("{% url 'editar_alunos' %}")
    }
    function atualizar() {
      window.location.replace("{% url 'atualizar_alunos' %}")
    }
    function filtrar_serie(){
      alert("Sesgo")}
    function filtar_ano(){
      alert("POr ano hein")
    }
  </script>
</body>

</html>
