{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Avisos</title> {#Aluno#}
</head>

<body>

  {% include "pages/header.html" %} {#Menu do programa#} 
  <br><br>
  <div class="table-fundo">
    <table id="alunotable">
      <thead>
        <tr>
          <th id ="th-table">Data</th>
          <th id ="th-table">Série/Turma</th> 
          <th id ="th-table">Mensagem</th>
        </tr>
      </thead>
      <tbody>
        {% for aviso in avisos %}
            <tr>
                <td>{{ aviso.data_aviso }}</td>
                <td>{{ aviso.turma }}</td>
                <td>{{ aviso.mensagem }}</td>
                </div>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
   <script>

  </script>
</body>

</html>
