{% include "pages/head.html" %}
<style>
    #btn-aviso {

        position: fixed;
        bottom: 360px;
        right: 740px;
    }
</style>
</head>

<body>
    {% include "pages/header.html" %}
    <div class="cadastrar_aluno">
        <div class="container">

            <h2 id="tittle-cadastro">Quadro de aviso</h2><br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome-aluno">Mensagem: </label>

                    <textarea class="form-control" id="nome-aluno" name="nome-aluno"
                        placeholder="Digite a mensagem aqui" required></textarea>

                </div>
                <div class="form-group">
                    <label for="turma-aluno">Mensagem para a turma:</label>
                    <select name="turma-aluno" id="turma-aluno" class="form-control" required>
                        <option value="1-A">1-A</option>
                        <option value="2-A">2-A</option>
                        <option value="3-A">3-A</option>
                        <option value="4-A">4-A</option>
                        <option value="5-A">5-A</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data-aluno">Mensagem referente ao dia:</label>
                    <input type="date" class="form-control" id="data-aluno" name="data-aluno" required>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-aviso">Enviar</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>