{% include "pages/head.html" %}
</head>
<style>
    .cadastro_aluno-fundo {
        background-color: #c9cccc;
        width: auto;
        height: 320px;
        text-align: center;
        margin: 700px;
        border-radius: 10px;
        margin-top: 100px;
        line-height: 30px;
    }
    
    .cadastrar-botao {
        cursor: pointer;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: white;
    }
</style>
<body>
    {% include "pages/header.html" %} {#Menu do programa#}

    <div class="cadastro_aluno-fundo">
        <br><br>
        <form method="POST">{% csrf_token %}
                <p>Nome: <input type="text" class="cadastro-input" id="nome-aluno" name="nome-aluno" required></p>
                <p>Turma: <select name="turma-aluno" id="turma-aluno" required>
                    <option value="1-A">1-A</option>
                    <option value="2-A">2-A</option>
                    <option value="3-A">3-A</option>
                    <option value="4-A">4-A</option>
                    <option value="5-A">5-A</option>
                  </select></p>
                <p>Data de Matricula: <input type="date" class="cadastro-input" id="data-aluno" name="data-aluno" required></p>
                <br>
                <p><input type="submit" value="Cadastrar" class="cadastrar-botao"></p>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>