{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Faltas</title> {#Faltas#}
</head>
<style>
  h1 {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .cadastrar_aluno {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    .buttons {
      gap: 5px;
    }
  
    .alunos-buttons {
      display: block;
      justify-content: center;
      margin: 20px;
    }
  
    .cadastrar-botao {
      width: 100%;
      padding: 10px;
    }
  
    .table-fundo {
      width: 95%;
    }
  
    #alunotable {
      display: block;
      overflow-x: auto;
    }
  
    th, td {
      width: 100%;
      box-sizing: border-box;
    }
  
    th {
      text-align: right;
    }
  
    td {
      text-align: left;
      position: relative;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      white-space: nowrap;
    }
  }
</style>
<body>
  
  {% include "pages/header.html" %} {#Menu do programa#} 
  <br><br>
  <div class="table-fundo">
    <form method="POST" action="{% url 'faltas' %}"> {% csrf_token %}
    <table id="alunotable">
      <thead>
        <tr>
          <th onclick="sort(0)" id ="th-table">ID</th>
          <th onclick="sort(1)" id ="th-table">Nome</th>
          <th onclick="sort(2)" id ="th-table">Série/Turma</th>
          <th onclick="sort(3)" id ="th-table">Faltas</th>   
          <th id ="th-table"></th>   
          <th id ="th-table"></th>   
        </tr>
      </thead>
      <tbody> 
        {% for materia in materia %}
            <tr>
                <td>{{ materia.aluno.id_aluno }}</td>
                <td>{{ materia.aluno.nome }}</td>
                <td>{{ materia.aluno.serie_turma.nome_turma }}</td>
                <td>{{ materia.faltas }}</td>
                <td><button type="submit" name='faltas_plus' value="{{ materia.id }}" data-id-aluno="{{ materia.aluno.id_aluno }}" class="btn btn-primary">+</button></td>
                <td><button type="submit" name='faltas_minus' value="{{ materia.id }}" data-id-aluno="{{ materia.aluno.id_aluno }}" class="btn btn-primary">-</button></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
  </div>

  <script>
    function sort(n) {
      var table, rows, organizando, pode_organizar, direction, i, linha1, linha2, organizar_count = 0;
      table = document.getElementById("alunotable");
      organizando = true;
      direction = "asc";

      while(organizando) {
        organizando = false;
        rows = table.rows;

        for (i = 1; i < (rows.length - 1); i++) {
          pode_organizar = false;

          linha1 = rows[i].getElementsByTagName("TD")[n];
          linha2 = rows[i+1].getElementsByTagName("TD")[n];

          if(direction == "asc") {
            if(linha1.innerHTML.toLowerCase() > linha2.innerHTML.toLowerCase()) {
              pode_organizar = true;
              break;
            }
          } else if (direction == "desc") {
            if(linha1.innerHTML.toLowerCase() < linha2.innerHTML.toLowerCase()) {
              pode_organizar = true;
              break;
            }
          }
        }
        if (pode_organizar) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          organizando = true;
          organizar_count++;
        } else {
          if (organizar_count == 0 && direction == "asc") {
            direction = "desc";
            organizando = true;
          }
        }
      }
    }
  </script>
</body>

</html>
