{% include "pages/head.html" %}
<title>Atualizar alunos</title>
</head>
<body>
    {% include "pages/header.html" %} {#Menu do programa#}
    <h1>Atualizar Alunos! {{id_aluno}}</h1>
    <div class="cadastrar_aluno">
        <div class="container">
            <h2 id="tittle-cadastro">Atualizar Aluno</h2><br>
            <form method="POST" action="{% url 'atualizar_alunos' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome-aluno">Nome do Aluno:</label>
                    <input type="text" class="form-control" id="nome-aluno" name="nome-aluno" value="{{aluno.nome}}" required>
                </div>
                <div class="form-group">
                    <label for="turma-aluno">Turma:</label>
                    <select name="turma-aluno" id="turma-aluno" class="form-control" value="{{aluno.serie_turma}}" required>
                        <option value="1-A" {% if '1-A' == aluno.serie_turma %}selected{% endif %}>1-A</option>
                        <option value="2-A" {% if '2-A' == aluno.serie_turma %}selected{% endif %}>2-A</option>
                        <option value="3-A" {% if '3-A' == aluno.serie_turma %}selected{% endif %}>3-A</option>
                        <option value="4-A" {% if '4-A' == aluno.serie_turma %}selected{% endif %}>4-A</option>
                        <option value="5-A" {% if '5-A' == aluno.serie_turma %}selected{% endif %}>5-A</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data-aluno">Data de Matricula:</label>
                    <input type="date" class="form-control" id="data-aluno" name="data-aluno" value="{{aluno.data_matricula|date:'Y-m-d'}}" required>
                </div>
                <button type="submit" name="att" value="{{id_aluno}}" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</body>
</html>